*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {background-color: bisque;}

header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;     
}
header p {
    margin: 10px;
}
aside p {
    margin: 30px;
}

footer {
    font-family: cursive;
    background-color: rosybrown;
}

header,
footer{
    flex-direction: row;
    text-align: end;
    margin: 50px;
}
 
header p {
    border: solid olivedrab;
    display: inline-block;
    flex: wrap;
    background-color: greenyellow;
}

main {
    display: inline-flex;
    flex-wrap: wrap;
}

section {
    position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 24px 0;
        padding: 5px;
        gap: 16px;
        border: 5px solid gray;
        background-color: aquamarine;
}
    
    header p:hover {
        background-color: brown;
        
    }
    main section:hover {
        background-color: rgb(134, 165, 42);
        text-size: 150%;
        margin: 0px 0;
        padding: 15px;
    }

    aside section{
        background-color: grey;
    }





@media screen and (min-width: 769px) {
    section {width: 33.333%;} 
     }
